!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wineshop
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %script{ src: "https://js.stripe.com/v3/" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
  %body
    .container-fluid
      .row{data: { controller: 'toggle' }}
        .col-sm-3.col-lg-12.px-sm-2.px-0.bg-sidebar.d-none.d-sm-block{data: { toggle_target: 'toggleElement' }}
          = render 'shared/navbar'
        %main.col-lg-12.px-0
          .sticky.d-flex.justify-content-center.align-items-baseline.box_shadow.px-4.py-2
            .my-3.px-2
              = yield
